<div class="container">
  <h1>Twarze Chernoffa. Statystyka dla zawodów w kolejnych latach (1903 - 2016)</h1>
  <div class="legend">
    <table>
      <thead>
      <tr>
        <th>Właściwość</th>
        <th>Znaczenie</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>Wysokość twarzy</td>
          <td>Średnia prędkość zwycięzcy</td>
        </tr>
        <tr>
          <td>Szerokość twarzy</td>
          <td>Całkowity dystans wyścigu</td>
        </tr>
        <tr>
          <td>Szerokość nosa</td>
          <td>Liczba zawodników startujących w wyścigu</td>
        </tr>
        <tr>
          <td>Wysokość nosa</td>
          <td>Liczba zawodników którzy ukończyli wyścig</td>
        </tr>
        <tr>
          <td>Szerokość uśmiechu</td>
          <td>Długość trwania zawodów (dni)</td>
        </tr>
        <tr>
          <td>Szerokość brwi</td>
          <td>Liczba etapów</td>
        </tr>
        <tr>
          <td>Kolor twarzy</td>
          <td>
            <p>Kraj w którym rozpoczęto zawody:</p>
            <div class="flex">
              <div class="col" style="background: #FF8C00">Francja</div>
              <div class="col" style="background: blue">Holandia</div>
              <div class="col" style="background: yellow; color: black">Belgia</div>
              <div class="col" style="background: #808000">Szwajcaria</div>
              <div class="col" style="background: darkred">Niemcy</div>
              <div class="col" style="background: forestgreen">Wielka Brytania</div>
              <div class="col" style="background: silver">Hiszpania</div>
              <div class="col" style="background: azure; color: black">Irlandia</div>
              <div class="col" style="background: midnightblue">Pozostałe kraje</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Kolor oczu</td>
          <td>
            <p>Kraj z którego pochodził zwycięzca</p>
            <div class="flex">
              <div class="col" style="background: #FF8C00">Francja</div>
              <div class="col" style="background: blue">Luksemburg</div>
              <div class="col" style="background: yellow; color: black">Belgia</div>
              <div class="col" style="background: green">Włochy</div>
              <div class="col" style="background: #808000">Szwajcaria</div>
              <div class="col" style="background: silver">Hiszpania</div>
              <div class="col" style="background: orange">USA</div>
              <div class="col" style="background: azure; color: black;">Irlandia</div>
              <div class="col" style="background: blueviolet">Dania</div>
              <div class="col" style="background: darkred">Niemcy</div>
              <div class="col" style="background: deeppink">Australia</div>
              <div class="col" style="background: forestgreen">Wielka Brytania</div>
              <div class="col" style="background: midnightblue">Pozostałe kraje</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <canvas #canvas width="1200" height="6000"></canvas>
</div>
