/* You can add global styles to this file, and also import other style files */

:root {
  --myred: #E27D60;
  --myblue: #85DCB2;
  --myorange: #E8A87C;
  --mypurple: #c4a4b0;
  --mygreen: #41B3A3;
}

html, body {
  height: 100%;
  margin: 0 auto;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}
